<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
</head>
<body>

    {% include "partials/header.njk" %}

    <main>

        <h2>{{ data.title }}</h2>
        {{ content | safe }}

    </main>

    <!-- Next / Prev Project -->

    {% include "partials/footer.njk" %}
    
</body>
</html>