<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
</head>
<body>

    {% include "partials/header.njk" %}

    <main>

        {{ content | safe }}

        <!-- Three new projects -->
        <h3>Recent Projects</h3>
        {%- for project in collections.project -%}
        <article class="project">

            <img src="https://via.placeholder.com/200" alt="{{ project.data.title }}">
            
            <h3 class="project__title">{{ project.data.title }}</h3>
            <p class="project__info">{{ project.data.tasks }}</p>
            <a class="project__link button" href="{{ project.url }}">Read More</a>

        </article>
        {%- endfor -%}

        <!-- Three codepen/glitch projects -->
        <h3>Code Experiments</h3>
        <ul class="experiments">
            <li class="experiments__experiment"><a href="https://glitch.com/~emojifize">Emojifize</a> @Glitch</li>
            <li class="experiments__experiment"><a href="https://codepen.io/monikadotdev/pen/pXaOrg">Animated Bar Graphs</a> @CodePen</li>
            <li class="experiments__experiment"><a href="https://codepen.io/monikadotdev/pen/MRLBJa">Animated Donut Graph</a> @CodePen</li>
            <li class="experiments__experiment"><a href="https://twitter.com/tomwaits_tales">Tom Waits Lyrics Twitter bot</a></li>
        </ul>

        <!-- Twitch Stream -->
        <a href="https://www.twitch.tv/monikadotdev/">Catch me live-coding experiments on Twitch</a>

        <!-- Three archived projects -->
        <h3>Archived Projects</h3>
        {%- for archive in collections.archive -%}
        <article class="archive">
            <a href="{{ archive.url }}">
                <h3>{{ archive.data.title }}</h3>
            </a>
        </article>
        {%- endfor -%}


        <aside>

            <h4>Contact</h4>
            <a href="mailto:monika@monika.dev">monika@monika.dev</a>
            {% include "modules/socials.njk" %}

        </aside>

    </main>

    {% include "partials/footer.njk" %}

    <!-- Scripts -->
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

</body>
</html>
