<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
</head>
<body>

    {% include "partials/header.njk" %}

    <main>

        {{ content | safe }}

        <div class="projects">
        <div class="layout">

            <h2>Recent Projects</h2>

            <!-- Three new projects -->
            {%- for project in collections.project -%}
            <article class="project">

                <figure class="project__thumbnail">
                    <img class="project__image" src="{{ project.data.thumbnail }}" alt="{{ project.data.thumbnailAlt }}">
                </figure>

                <div class="project__content">

                    <h3 class="project__title">{{ project.data.title }}</h3>
                    <p class="project__info">{{ project.data.intro }}</p>
                    <a class="project__link button" href="{{ project.url }}">Read More</a>

                </div>

            </article>
            {%- endfor -%}

        </div>
        </div>

        <!-- Three codepen/glitch projects -->
        <div class="experiments">
        <div class="layout">

            <h2>Code Experiments</h2>

            <ul class="experiments__list">
                <li class="experiments__item"><a href="https://glitch.com/~emojifize">Emojifize</a> @Glitch</li>
                <li class="experiments__item"><a href="https://codepen.io/monikadotdev/full/pXaOrg">Animated Bar Graphs</a> @CodePen</li>
                <li class="experiments__item"><a href="https://codepen.io/monikadotdev/full/MRLBJa">Animated Donut Graph</a> @CodePen</li>
                <li class="experiments__item"><a href="https://twitter.com/tomwaits_tales">Tom Waits Lyrics bot</a> @Twitter</li>
            </ul>

            <!-- Twitch Stream -->
            <a href="https://www.twitch.tv/monikadotdev/">Catch me live-coding experiments on Twitch</a>
 
        </div>
        </div>

        <!-- Three archived projects -->
        <div class="archive">
        <div class="layout">

            <h2>Archive Projects</h2>

            {%- for archive in collections.archive -%}
            <article>
                
                <h3><a href="{{ archive.url }}">{{ archive.data.title }}</a></h3>
                <p>{{ archive.data.intro }}</p>
            </article>
            {%- endfor -%}

        </div>
        </div>

    </main>

    {% include "partials/footer.njk" %}

    <!-- Scripts -->
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

</body>
</html>
