/* Import All Stylesheets
------------------------------------- */
/* Base Styles */
/* Typography */
/*@font-face {
  font-family: "Nostra";
  src: url("fonts/Nostrav1.0-SettTrial.woff2") format("woff2"),
    url("fonts/Nostrav1.0-SettTrial.woff") format("woff");
}*/
html {
  font-size: 62.5%; }

body {
  font-family: 'IBM Plex Mono', monospace;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #97f5f2; }

a {
  color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.25;
  text-transform: capitalize; }

h1 {
  font-size: 3.2rem;
  line-height: 1; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2rem; }

header p {
  font-style: italic; }

/* Base: Layout
------------------------------------- */
* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 2%;
  background-color: #4f0839; }

/* Modules */
/* Icons */
svg {
  height: 0.8em;
  display: inline-block;
  margin: 0;
  padding: 0; }

svg path {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffeb3b; }

a:focus svg path {
  fill: #28afa1; }

svg .st0 {
  fill: none; }

a:focus svg .st0 {
  fill: none; }
