<figure>
<picture>
  <source
      type="image/webp"
      srcset="/images/{{ figure.imgFileName }}-large.webp"
      media="(min-width: 401px)"
  />
  <source
      type="image/webp"
      srcset="/images/{{ figure.imgFileName }}-medium.webp, /images/{{ figure.imgFileName }}-medium@2x.webp 2x"
      media="(max-width: 400px)"
  />
  <source
      type="image/webp"
      srcset="/images/{{ figure.imgFileName }}-small.webp, /images/{{ figure.imgFileName }}-small@2x.webp 2x"
      media="(max-width: 200px)"
  />
  <!-- jpg images -->
  <source
      srcset="/images/{{ figure.imgFileName }}-large.jpg"
      media="(min-width: 401px)"
  />
  <source
      srcset="/images/{{ figure.imgFileName }}-medium.jpg, /images/{{ figure.imgFileName }}-medium@2x.jpg 2x"
      media="(max-width: 400px)"
  />
  <source
      srcset="/images/{{ figure.imgFileName }}-small.jpg, /images/{{ figure.imgFileName }}-small@2x.jpg 2x"
      media="(max-width: 200px)"
  />
  <img
      src="/images/{{ figure.imgFileName }}-small.jpg"
      alt="{{ figure.imgAlt }}"
  />
</picture>
<figcaption>{{ figure.figcaption }}</figcaption>
</figure>