<footer class="footer">
<div class="layout">

      <div class="contact">

            <h3 class="contact__title">Elsewhere</h3>

            {% include "modules/socials.njk" %}

      </div>

      <div class="colophon">

            <h3 class="colophon_title">Colophon</h3>
            <p>Created with <a href="https://www.11ty.dev/">Eleventy</a> &amp; <a href="https://gulpjs.com/">Gulp</a>.</p>
            <p>Continuously deployed to <a href="https://www.netlify.com">Netlify</a> via <a href="https://github.com/monika/monika.dev">Github</a>.</p>
            <p>Typeset in <a href="https://www.futurefonts.xyz/ohno/obviously">Obviously</a> & <a href="https://github.com/mozilla/Fira">Fira Sans</a>.</p>

      </div>

</div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38224937-3"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-38224937-3');
</script>