<footer class="footer">
<div class="layout">

      <div class="contact">

            <h4 class="contact__title">Elsewhere</h4>

            {% include "modules/socials.njk" %}

      </div>

</div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38224937-3"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-38224937-3');
</script>