<header>
<div class="layout">

    <h1>Monika Hoex <em>UX Engineer</em></h1>

    <p>I’m a UX Engineer from Oakland, California with fifteen years of experience developing sites for clients around the world. I work in the space between design and development, focused on accessibility, responsiveness, and performance. I'm available for new projects and full-time employment.</p>

    <a class="button" href="mailto:monika@monika.dev">Email me</a>

</div>
</header>