<header>

    <h1>Monika Hoex</h1>
    <h2>Front-end Designer / UX Engineer</h2>

    <p>I’m a front-end designer from Oakland, California with over a decade of experience developing sites for clients around the world. I'm available for new projects and full-time employment.</p>

    <a href="monika@monika.dev">Email me</a>

</header>