<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if title != "Home" %}{{ title }} | {% endif %}Monika Hoex &mdash; Front-end Developer</title>
<meta name="description" content="Monika Hoex is a Front-end Developer in Oakland, California.">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://use.typekit.net/izf4qqb.css">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<link rel="dns-prefetch" href="https://use.typekit.net">

{% set normalize %}
    {% include "css/normalize.css" %}
{% endset %}

{% set css %}
    {% include "css/style.css" %}
{% endset %}

{% set prism %}
    {% include "css/prism.css" %}
{% endset %}

<style>{{ normalize | cssmin | safe }}</style>
<style>{{ css | cssmin | safe }}</style>
<style>{{ prism | cssmin | safe }}</style>

<link rel="icon" type="image/png" sizes="512x512" href="/favicon.png">
<link rel="manifest" href="/site.webmanifest">

<meta name="google-site-verification" content="PS4Kd7aa-5zazVKHNptpocJ7eT-B3O1UypqytvvyJEc" />