<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if title != "Home" %}{{ title }} | {% endif %}Monika Hoex &mdash; Front-end Designer &amp; Developer</title>
<meta name="description" content="Monika Hoex is a Front-end Developer in Oakland, California.">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://use.typekit.net/izf4qqb.css">

{% set normalize %}
    {% include "css/normalize.css" %}
{% endset %}

{% set css %}
    {% include "css/style.css" %}
{% endset %}

<style>{{ normalize | cssmin | safe }}</style>
<style>{{ css | cssmin | safe }}</style>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<meta name="google-site-verification" content="PS4Kd7aa-5zazVKHNptpocJ7eT-B3O1UypqytvvyJEc" />