<header class="header">

    <div class="navigation">
    {% include "partials/navigation.njk" %}
    </div>

    <div class="layout">

        {% if title === "Home" %}

            <h2 class="header__title">Monika Hoex <em>is a creative front-end developer.</em></h2>

            <p class="header__description header__intro">I have fifteen years of experience creating effective solutions for a diverse set of clients.</p>
            <p class="header__description">My education as a visual designer gives me the skills to bridge the gap between design and development while focusing on accessible, responsive, and maintainable front-end code.</p>
            <p class="header__description">I currently guide clients towards tech solutions that fit their project goals, team workflow, budget, and existing stack. I'm available for new projects and full-time employment.</p>

            <a class="header__action button" href="mailto:monika@monika.dev">Email Me</a>

        {% endif %}

    </div>

</header>