
<a class="navigation__logo" href="/">{% include "partials/logo.njk" %}</a>

<nav class="navigation__links">
  <a class="navigation__link" href="/">Projects</a>
  <a class="navigation__link" href="#">Blog</a>
  <a class="navigation__link" href="/about">About</a>
</nav>