
<h1 class="navigation__logo"><a title="Return to homepage." href="/">{% include "partials/logo.njk" %}</a></h1>

<nav class="navigation__links">
  <a class="navigation__link" href="/#projects">Projects</a>
  {#<a class="navigation__link" href="#">Blog</a>#}
  <a class="navigation__link" href="/about">About</a>
</nav>