---
title: Home
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
</head>
<body class="page-home">

    {% include "partials/header.njk" %}

    <main>

        <div id="projects" class="projects">
        <div class="layout">

            <h3 class="projects__heading">Projects</h3>

            <!-- Three new projects -->
            {%- for project in collections.projectListing -%}
            <article class="project">

                <figure class="project__thumbnail">
                    <picture class="project__mask">
                        <!-- webp images -->
                        <source
                            class="project__image"
                            type="image/webp"
                            srcset="/images/{{ project.data.thumbnail }}-large.webp"
                            media="(min-width: 401px)"
                        />
                        <source
                            class="project__image"
                            type="image/webp"
                            srcset="/images/{{ project.data.thumbnail }}-medium.webp, /images/{{ project.data.thumbnail }}-medium@2x.webp 2x"
                            media="(max-width: 400px)"
                        />
                        <source
                            class="project__image"
                            type="image/webp"
                            srcset="/images/{{ project.data.thumbnail }}-small.webp, /images/{{ project.data.thumbnail }}-small@2x.webp 2x"
                            media="(max-width: 200px)"
                        />
                        <!-- jpg images -->
                        <source
                            class="project__image"
                            srcset="/images/{{ project.data.thumbnail }}-large.jpg"
                            media="(min-width: 800px)"
                        />
                        <source
                            class="project__image"
                            srcset="/images/{{ project.data.thumbnail }}-medium.jpg, /images/{{ project.data.thumbnail }}-medium@2x.jpg 2x"
                            media="(min-width: 800px)"
                        />
                        <source
                            class="project__image"
                            srcset="/images/{{ project.data.thumbnail }}-small.jpg, /images/{{ project.data.thumbnail }}-small@2x.jpg 2x"
                            media="(min-width: 800px)"
                        />
                        <img
                            class="project__image"
                            src="/images/{{ project.data.thumbnail }}.jpg"
                            alt="{{ project.data.thumbnailAlt }}"
                        />
                    </picture>
                </figure>

                <div class="project__content">

                    <h4 class="project__title">{{ project.data.title }}</h4>
                    <h5 class="project__role">{{project.data.role }}</h5>
                    <p class="project__info">{{ project.data.intro }}</p>
                    <a class="project__link button" href="{{ project.url }}">Review Project</a>

                </div>

            </article>
            {%- endfor -%}

        </div>
        </div>

        <!-- Three codepen/glitch projects -->
        <div class="experiments">
        <div class="layout">

            <h3>Code Experiments</h3>

            <ul class="experiments__list">
                <li class="experiments__item"><a href="https://glitch.com/~twitter-moon-phase-bot">Twitter Moon Phase Bot</a> @Glitch
                <li class="experiments__item"><a href="https://glitch.com/~emojifize">Emojifize</a> @Glitch</li>
                <li class="experiments__item"><a href="https://codepen.io/monikadotdev/full/pXaOrg">Animated Bar Graphs</a> @CodePen</li>
                <li class="experiments__item"><a href="https://codepen.io/monikadotdev/full/MRLBJa">Animated Donut Graph</a> @CodePen</li>
                <li class="experiments__item"><a href="https://twitter.com/tomwaits_tales">Tom Waits Lyrics bot</a> @Twitter</li>
            </ul>

        </div>
        </div>

    </main>

    {% include "partials/footer.njk" %}

</body>
</html>
