---
title: Home
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
</head>
<body class="page-home">

    {% include "partials/header.njk" %}

    <main>

        <div id="projects" class="projects">
        <div class="layout">

            <h3 class="projects__heading">Projects</h3>

            <!-- Three new projects -->
            {%- for project in collections.projectListing -%}
            <article class="project">

                <figure class="project__thumbnail">
                    <span class="project__mask">
                        <img class="project__image" src="{{ project.data.thumbnail }}" alt="{{ project.data.thumbnailAlt }}">
                    </span>
                </figure>

                <div class="project__content">

                    <h4 class="project__title">{{ project.data.title }}</h4>
                    <h5 class="project__role">{{project.data.role }}</h5>
                    <p class="project__info">{{ project.data.intro }}</p>
                    <a class="project__link button" href="{{ project.url }}">Read More</a>

                </div>

            </article>
            {%- endfor -%}

        </div>
        </div>

        <!-- Three codepen/glitch projects -->
        <div class="experiments">
        <div class="layout">

            <h3>Code Experiments</h3>

            <ul class="experiments__list">
                <li class="experiments__item"><a href="https://glitch.com/~twitter-moon-phase-bot">Twitter Moon Phase Bot</a> @Glitch
                <li class="experiments__item"><a href="https://glitch.com/~emojifize">Emojifize</a> @Glitch</li>
                <li class="experiments__item"><a href="https://codepen.io/monikadotdev/full/pXaOrg">Animated Bar Graphs</a> @CodePen</li>
                <li class="experiments__item"><a href="https://codepen.io/monikadotdev/full/MRLBJa">Animated Donut Graph</a> @CodePen</li>
                <li class="experiments__item"><a href="https://twitter.com/tomwaits_tales">Tom Waits Lyrics bot</a> @Twitter</li>
            </ul>

        </div>
        </div>

    </main>

    {% include "partials/footer.njk" %}

</body>
</html>
