.navigation {
  display: flex;
  align-items: center;

  &__logo {
    padding: 0;
    background: $black;
    padding: 2rem;
    margin: 0 2.4rem 0 0;

    a {
      display: block;

      background: linear-gradient(65deg, $blue, $pink);
      background-size: 400% 400%;
      animation: logo 9s linear infinite;


      &:before {
        display: none;
      }

    }

    svg {
      display: block;
      width: 80px;

    mask rect {
        fill: $white;
    }
    & > rect {
        fill: $black;
        -webkit-mask: url(#logo);
        mask: url(#logo);
    }
    }
  }

  &__link {
    display: inline-block;
    margin-right: 1.6rem;
    font-family: obviously-wide, sans-serif;
    font-weight: 600;
    line-height: 1;
  }
}
