/* Page: Home */

.page-home {
  .header {
    @media screen and (max-width: $break-small) {
      padding-bottom: 20%;
    }
    &__title {
      font-size: 4.8rem;

      @media screen and (max-width: $break-small) {
        font-size: 3.2rem;
        margin-bottom: 3.2rem;
      }
    }
  }
}
