/* Page: About */

@use 'variables' as *;

.page-profile {

  .header .layout {
    display: none;
  }
  
  main h2 {
    font-size: 2.4rem;
    clear: both;

    @media screen and (max-width: $break-small) {
      font-size: 1.8rem;
    }
  }

  main .layout:after {
    content: '';
    display: table;
    clear: both;
  }

  p img {
    display: block;
    float: left;

    width: 100%;
    max-width: 300px;
    margin-right: 3.2rem;
    margin-bottom: 6.4rem;
    border: 5px solid $black;
    box-shadow: -12px 12px $black;
  }
}
