/* Base: Layout
------------------------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

body {
  padding: 1em;
  box-shadow: inset 2rem 2rem $black, inset 2rem 2rem $black,
    inset -2rem 2rem $black, inset 2rem -2rem $black;
}

.layout {
  padding: 5%;
}
