/* Base: Layout
------------------------------------- */
* {

  box-sizing: border-box;

}

html,
body {

  margin: 0;
  padding: 0;
  background: #f00;
  color: #333;

}

.wrapper {

  min-width: 300px;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 30px;

}