/* Base: Layout
------------------------------------- */
* {

  box-sizing: border-box;

}

html,
body {

  margin: 0;
  padding: 0;

  background-color: $white;

}

.layout {

  padding: 2%;

}

header,
main {}