/* Footer */
footer {
  background: $black;
  color: $white;

  a {
    color: $white;

    &:hover {
      color: limegreen;
    }
  }

  h3 {
    margin-top: 0;
    text-transform: lowercase;
  }

  .layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }

    nav {
      @media screen and (max-width: $break-small) {
        margin-top: 5rem;
      }
    }
  }

  /* Icons */
  svg {
    height: 0.8em;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  svg path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: $yellow;
  }

  a:focus svg path {
    fill: $light-blue;
  }

  svg .st0 {
    fill: none;
  }

  a:focus svg .st0 {
    fill: none;
  }
}
