.page-project {

    h3 {
        margin-top: 5.2rem;
    }

    .visuals {

        p {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: $break-small) {
                flex-direction: column;
            }
        }

        img {
            flex: 0 0 auto;
            width: 30%;
            border: 10px solid $black;

            @media screen and (max-width: $break-small) {
                width: 100%;
                margin-bottom: 1.6rem;
            }
        }
    }

}