/* Project Listing */
.projects {

  h2 {
    margin: 0;
  }

  .project {

    display: grid;
    padding: 2% 0;

    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 1fr 5% auto;

    &__thumbnail {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 300px;

      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    &__content {
      padding: 2%;
      background: #fff;
      color: $blue;

      grid-column: 2 / 4;
      grid-row: 2 / 4;
    }

    &:nth-of-type(even) {
      grid-template-columns: 50% 25% 25%;

      .project__thumbnail {
        grid-column: 2 / 4;
        justify-self: end;
      }

      .project__content {
        grid-column: 1 / 3;
      }

    }

  }

}