.page-project {
  main p {
    max-width: 75ch;
  }

  h3 {
    margin-top: 5.2rem;
    margin-bottom: 3.2rem;
  }

  h3 + p em {
    font-family: obviously, sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  h4 {
    margin-top: 5.2rem;
  }

  img {
    border: 5px solid $black;
    box-shadow: -12px 12px $black;
  }

  .code {
    img {
      display: block;
      max-width: 100%;
    }

    pre.language-css {
      max-height: 75vh;
      overflow-y: scroll;
    }
  }

  .visuals {
    .screenshots {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: flex-start;
      justify-content: space-around;
    }

    figure {
      margin: 0 0 5% 0;
      max-width: 45%;
    }

    figcaption {
      background: $light-blue;
      padding: 5%;
      box-shadow: -12px 12px $black;
      border: 5px solid $black;
      border-top: dashed;
      font-style: italic;

      position: relative;

      &:after {
        content: '✂';

        font-size: 4.8rem;
        font-style: normal;
        transform: scaleX(-1);

        position: absolute;
        top: -38px;
        right: -24px;
      }
    }

    img {
      display: block;
      max-width: 100%;
      border-bottom: 0;
    }
  }
}
