/* Page: About */

.page-profile {
  main .layout:after {
    content: '';
    display: table;
    clear: both;
  }

  p img {
    display: block;
    float: left;
    max-width: 300px;
    margin-right: 3.2rem;
    border: 5px solid $black;
    box-shadow: -12px 12px $black;
  }
}
