/* Page: Home */

.page-home {
  h2 {
    @extend .visually-hidden;
  }

  .projects {
    background-color: $blue;
    background-position: top;

    position: relative;

    .layout {
      position: relative;
      z-index: 5;
    }

    &:after {
      content: '';

      display: block;
      width: 97%;
      height: 101%;
      background-image: url('images/bg-x.svg');
      background-position: center;

      position: absolute;
      top: -12px;
      left: 0;
    }
  }
}
