/* Typography */
html {
  font-size: 62.5%
}

body {

  font-family: 'IBM Plex Mono', monospace;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #97f5f2;

}

a {
  color: white;
}

a:hover {}

a:active {}

a:focus {}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: 'Roboto Slab', serif;
  font-display: swap;
  font-weight: 400;
  line-height: 1.45;

}

h1 {

  font-size: 3rem;

}

header p {

  font-style: italic;

}