/* Colors */
$light-blue: #97f5f2;
$teal: #28afa1;
$maroon: #4f0839;
$white: #fff;
$black: #222;
$blue: blue;
$yellow: #ffeb3b;

/* Animation */
$circular-ease-in-out: cubic-bezier(.45, .24, 0, 1);

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Breakpoints */
$break-small: 648px;