/* Import All Stylesheets
------------------------------------- */

/* Base Styles */
@import "variables";
@import "typography";
@import "layout";

/* Pages */
@import "page-home";

/* Modules */
@import "module-footer";
@import "module-header";
@import "module-experiments";
@import "module-archive";
@import "module-project-listing";
@import "module-project-detail";

/* Icons */
svg {

  height: 0.8em;
  display: inline-block;
  margin: 0;
  padding: 0;

}

svg path {

  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: $yellow;

}

a:focus svg path {

  fill: $light-blue;

}

svg .st0 {
  fill: none;
}

a:focus svg .st0 {

  fill: none;

}